@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,600;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-text: rgba(175, 175, 175);
    --secondary-text: rgba(100, 100, 100, .5);
    --highlighted-text: rgba(20, 20, 20, .8);
}

html,
body {
    position: relative;
    height: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: grey;
}

/* responsive */

/* Responsive */
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 639px) {

    body {
        background-repeat: repeat-x;
        overflow: scroll !important;
        animation: slide 240s linear infinite;
    }

    .nav-item-left,
    .nav-item-right {
        display: none;
    }

    .navbar-toggler {
        color: var(--primary-text);
    }

    .navbar-toggler-icon {
        filter: invert();
    }

    .navbar .container-fluid {
        justify-content: space-around !important;
    }

    .navbar-collapse {
        position: absolute;
        top: 2.6rem;
    }


    @keyframes slide {
        0% {
            background-position: left;
        }

        50% {
            background-position: right;
            /* The image width */
        }

        100% {
            background-position: left;
            /* The image width */
        }
    }

    .hero-container {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        /* border: 2px solid gold; */
    }
    .right-container .series-name{
        padding-left: 1rem;
        font-size: 2.5rem !important; 
    }
    .right-container .season-name{
        padding-left: 1rem;
        font-size: 1.5rem !important; 
    }

    .details-of-show-container {
        justify-content: space-evenly;
    }

    .details-of-show-container div,
    .details-of-show-container li {
        color: var(--primary-text) !important;
        margin: 0 !important;
        font-weight: 500;
        /* border: 2px solid gold; */
    }

    .hero-container .left-side-bar {
        writing-mode: initial !important;
        display: flex;
        height: 100px !important;
    }

    .buttons-resume-mylist {
        justify-content: space-evenly;
    }

    .buttons-resume-mylist button {
        margin-right: 0 !important;
        box-shadow: 0 0 50px black;
        border-radius: .1rem;
        padding: .5rem 1.25rem;
    }

    .buttons-resume-mylist button:nth-child(2) {
        margin-right: 0 !important;
        background: rgba(174, 175, 175, 0.15);
        border: 1px solid rgb(174, 175, 175);
    }

    .left-side-bar a {
        margin-right: 2rem;
    }
    .swiper {
        /* box-shadow: 0 0 50px black; */
        overflow: auto !important;
    }




}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 640px) {

    body {
        overflow: scroll !important;
        background-repeat: repeat-x;
        animation: slide 240s linear infinite;
    }

    @keyframes slide {
        0% {
            background-position: left;
        }

        50% {
            background-position: right;
            /* The image width */
        }

        100% {
            background-position: left;
            /* The image width */
        }
    }

    .nav-item-left,
    .nav-item-right {
        display: none;
    }

    .navbar-toggler {
        color: var(--primary-text);
    }

    .navbar-toggler-icon {
        filter: invert();
    }

    .navbar .container-fluid {
        justify-content: space-around !important;
    }

    .hero-container .left-side-bar {
        writing-mode: initial;
    }

    .hero-container .left-side-bar {
        writing-mode: vertical-lr !important;
    }
    .swiper {
        /* box-shadow: 0 0 50px black; */
        overflow: auto !important;
    }



}







/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .card-img-overlay .card-title {
        font-size: 1rem;
        margin-bottom: 1vh;
    }
    .card-img-overlay .card-text {
        font-size: .2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .swiper {
        /* box-shadow: 0 0 50px black; */
        overflow: visible !important;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {}

/* responsive end */









.navbar {
    margin-bottom: 10rem;
}

.navbar-middle-section {
    width: fit-content !important;
    background-color: transparent;
}

.tv-icon-img img {
    height: 40px;
    width: 40px;
    /* margin: 0 auto; */
}

.nav-item-left {
    margin-left: 1rem;
    margin-right: auto;
    height: 1rem;
    width: 1rem;
}

.nav-item-right {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
    margin-left: auto;
}

.nav-item a {
    color: rgb(174, 175, 175, .6) !important;
    text-shadow: 0 0 10px black;
    text-decoration: none;
}

.nav-item a:hover,
.tv-icon-img img:hover {
    color: whitesmoke !important;
}

.navbar-collapse {
    position: relative;
}

/*============ hero section =================*/

.hero-container {
    display: flex;
    margin: 8rem auto;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    /* height: 80vh; */
    /* border: 2px solid white; */
}

.hero-container .left-side-bar {
    /* border: 2px solid white; */
    color: var(--primary-text) !important;
    align-items: center;
    display: flex;
    height: 200px;
    justify-content: space-evenly;
    writing-mode: vertical-rl;
    /* justify-content: center; */
}

.left-side-bar a {
    font-size: large;
    text-shadow: 0 0 10px black;
    color: var(--primary-text);

}

.hero-container .left-side-bar a:hover {
    color: whitesmoke;
    /* text-decoration: underline; */
}

.hero-container .right-container {
    height: 50%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 2.5%;
}

.right-container .series-name {
    font-family: 'Lora', serif;
    font-size: 3rem;
    text-shadow: 0 0 10px black;
}

.right-container .season-name {
    font-family: 'Lora', serif;
    font-size: 2rem;
    text-shadow: 0 0 10px black;
    /* margin-top: 1rem; */
}

.details-of-show-container {
    margin-top: auto;
    display: flex;
    margin-bottom: .5rem;
    align-items: center;
    /* border: 2px solid gold; */
}

.details-of-show-container div,
.details-of-show-container li {
    margin-right: 3.5rem;
    color: var(--primary-text) !important;
    font-weight: 700;
    /* border: 2px solid gold; */
}

.buttons-resume-mylist {
    display: flex;
    align-items: center;
}

.buttons-resume-mylist button {
    margin-right: 2rem;
    box-shadow: 0 0 50px black;
    border-radius: .1rem;
    padding: .5rem 1.25rem;
}

.buttons-resume-mylist button:nth-child(2) {
    margin-right: 2rem;
    background: rgba(174, 175, 175, 0.15);
    border: 1px solid rgb(174, 175, 175);
}

.buttons-resume-mylist button:nth-child(2):hover {
    background: rgba(174, 175, 175, 0.55);
}

/*========== swiper ==============*/

.swiper {
    /* box-shadow: 0 0 50px black; */
    overflow: visible;
}

.slider-container .container {
    position: relative;
    width: 60%;
}

.swiper-slide {
    text-align: center;
    /* background: rgb(100, 100, 100, .9); */
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.swiper-slide:hover {
    content: '';
    cursor: pointer;
}

.card {
    box-shadow: 0 0 50px black;
}

.card-img-overlay {
    /* border: 2px solid gold; */
    display: flex;
    flex-direction: column;
}

.card-img-overlay .card-title {
    /* border: 2px solid gold; */
    color: var(--primary-text);
    text-shadow: 0 0 5px black;
    margin-top: -.5rem;
}

.card-img-overlay .card-text {
    /* border: 2px solid gold; */
    text-shadow: 0 0 2px black;
    color: var(--primary-text);
    margin-top: 25px;
    font-size: x-small;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    /* left: 0px; */
    z-index: 100;
    overflow: visible;
    color: rgb(175, 175, 175, 0.5);
    background-color: rgba(18, 18, 18, 0.8);
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    transition: background-color .3s;
    top: -2.5rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 1.5rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(175, 175, 175, 0.9);
    color: rgba(18, 18, 18, 0.8);
}

.swiper-button-next {
    right: -3.5rem;
}

.swiper-button-prev {
    left: -3.5rem;
}

.swiper-pagination {
    position: absolute;
    bottom: -1rem !important;
    /* margin-bottom: 2rem; */
}


.footer-border {
    display: block;
    margin: 2rem auto;
}